/* Ensure the body takes at least the full viewport height */
body {
  min-height: 100vh;
  margin: 0;
}

/* Container for the entire text block */
#textblock {
  background-color: #fafafa;
  min-height: 100vh; /* Ensure it takes full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/* Charizard Marquee */
#charizard-marquee {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#charizard-marquee marquee {
  width: 100%;
  overflow: hidden;
}

#charizard-marquee img {
  width: 300px; /* Adjust size as needed */
  height: 300px;
}

/* Darkrai Container */
#darkrai-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed for bottom positioning */
  right: 20px; /* Adjust as needed for right positioning */
  z-index: 1000; /* Ensure it's above other content */
}

.darkrai-wrapper {
  position: relative;
  cursor: pointer; /* Change cursor on hover */
}

.darkrai-gif {
  width: 200px; /* Adjust size as needed */
  height: auto;
  transition: opacity 0.9s ease; /* Smooth transition for opacity */
}

.darkrai-hover-text {
  position: absolute;
  top: -30px; /* Adjust positioning of text box */
  right: calc(100% + 10px); /* Position to the left of Darkrai GIF */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  pointer-events: none; /* Prevent text box from blocking hover on Darkrai GIF */
}

.darkrai-wrapper:hover .darkrai-gif {
  opacity: 0.5; /* Reduce opacity on hover */
}

.darkrai-wrapper:hover .darkrai-hover-text {
  opacity: 1; /* Show text box on hover */
}

/* Mew Container */
#mew-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed for bottom positioning */
  left: 20px; /* Adjust as needed for left positioning */
  z-index: 1000; /* Ensure it's above other content */
}

.mew-wrapper {
  position: relative;
  cursor: pointer; /* Change cursor on hover */
}

.mew-gif {
  width: 150px; /* Adjust size as needed */
  height: auto;
}

.mew-hover-text {
  position: absolute;
  top: -30px; /* Adjust positioning of text box */
  left: calc(100% + 10px); /* Position to the right of Mew GIF */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  pointer-events: none; /* Prevent text box from blocking hover on Mew GIF */
}

.mew-wrapper:hover .mew-hover-text {
  opacity: 1; /* Show text box on hover */
}

/* Pikachu Marquee */
#pikachu-marquee {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

#pikachu-marquee marquee {
  width: 100%;
  overflow: hidden;
  margin-bottom: -155px;
}

#pikachu-marquee img {
  width: 150px; /* Adjust size as needed */
  height: auto;

}

/* Text Block Content Container */
#textblock-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
}

/* Text Block Image Container */
#textblock-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.8; /* Adjust the opacity if needed */
}

#textblock-gif {
  width: 1500px;
  height: auto;
}

/* Text Block Text Container */
#textblock-text-container {
  position: relative;
  z-index: 1;
}

#textblock-title {
  color: #ff1b1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
  margin: 0;
}

#textblock-content {
  color: #080808;
  font-size: 29px;
  margin-top: 20px;
  max-width: 500px;
}

@media (max-width: 1024px) {
  #darkrai-container .darkrai-gif,
  #mew-container .mew-gif,
  #pikachu-marquee img {
    width: 180px; /* Adjust size as needed for smaller screens */
    height: auto;
  }
  #charizard-marquee img{
    width:300px;
    height: 300px;
  }


  #textblock-gif {
    width: 1000px;
    height: auto;
  }

  #textblock-title {
    font-size: 28px;
  }

  #textblock-content {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  #textblock {
    padding: 10px;
  }

  #textblock-gif {
    width: 600px;
    height: auto;
  }

  #textblock-title {
    font-size: 24px;
  }

  #textblock-content {
    font-size: 20px;
  }

  #darkrai-container .darkrai-gif,
  #mew-container .mew-gif,
  #pikachu-marquee img {
    width: 150px; /* Adjust size as needed for smaller screens */
    height: auto;
  }
  #charizard-marquee img{
    width:200px;
    height: 200px;
  }

}

@media (max-width: 480px) {
  #textblock-gif {
    width: 300px;
    height: auto;
  }

  #textblock-title {
    font-size: 20px;
  }

  #textblock-content {
    font-size: 16px;
  }


  #darkrai-container .darkrai-gif,
  #mew-container .mew-gif,
  #pikachu-marquee img {
    width: 100px; /* Adjust size as needed for smaller screens */
    height: auto;
  }
  #charizard-marquee img{
    width:200px;
    height: 200px;
  }

  #darkrai-container {
    bottom: 10px; /* Adjust as needed for smaller screens */
    right: 10px; /* Adjust as needed for smaller screens */
  }

  #mew-container {
    bottom: 10px; /* Adjust as needed for smaller screens */
    left: 10px; /* Adjust as needed for smaller screens */
  }

  .darkrai-hover-text,
  .mew-hover-text {
    font-size: 12px; /* Adjust font size for smaller screens */
    top: -20px; /* Adjust positioning of text box */
    padding: 5px; /* Adjust padding for smaller screens */
  }
}

/* Parallax Animation */
.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

.parallax-container {
  margin-top: 70px;
}

@media (max-width: 415px) {
  .animation, .animation_layer {
    height: 1200px;
    top: 0;
    margin-top: -80px; /* Adjust as needed */
    padding-top: 0;
  }
}


/* Background Images */
#artback {
  background-image: url('../assets/images/background.jpg');
}

#mountain {
  background-image: url('../assets/images/skyup.png');
}

#logoland {
  background-image: url('../assets/images/Frame 1.png');
}

#jungle1 {
  background-image: url('../assets/images/rainbow.png');
}

#jungle2 {
  background-image: url('../assets/images/cloud.png');
}

#jungle3 {
  background-image: url('../assets/images/rightgrass.png');
}

#jungle4 {
  background-image: url('../assets/images/leftgrass.png');
}

#manonmountain {
  background-image: url('../assets/images/manonmountain.png');
}

#jungle5 {
  background-image: url('../assets/images/ash.png');
}
